# Environment variables
*.env
.env
.venv
# Project directories
public/
outputs/
ignis/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Data files
*.jpg
*.jpeg
*.png

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
*.html
# Test files
test.py
